---
// import Galeria from "../components/Galeria.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import fs from "fs";
import path from "path";

// const lightbox = GLightbox({selector: 'a[data-gallery="gallery1"]'});

  // const lightbox = GLightbox({
  //   touchNavigation: true,
  //   closeButton: true,
  //   loop: true,
  //   width: "85vw",
  //   height: "85vh",
  //   preload: true,
  //   openEffect: 'fade',
  //   closeEffect: 'fade',
  //   slideEffect: 'fade',
  //   dragAutoSnap: true,
  //   // cssEfects: {
  //   //   fade: { in: 'fadeIn', out: 'fadeOut' }
  //   // }
  // });

// document.addEventListener('astro:page-load', initialize);
// document.addEventListener('astro:after-swap', initialize);


// Define the directory path
const galleryDir = path.join(process.cwd(), "/src/assets/galeria");

// Read the directory and get all files
const filenames = fs.readdirSync(galleryDir);

// Filter out non-image files
const imageFilenames = filenames.filter(
  (filename) =>
    filename.endsWith(".jpg") ||
    filename.endsWith(".png") ||
    filename.endsWith(".webp"),
);

// Create an array of photo objects
const photos = imageFilenames.map((filename) => ({
  id: filename,
  url: `/src/assets/galeria/${filename}`,
  thumbnailUrl: `/src/assets/galeria/${filename}`,
  title: filename,
}));

---

<BaseLayout title="Galeria" sideBarActiveItemID="galeria">

  <h1 class="text-4xl py-3 w-full font-bold mb-5">Galeria de fotos</h1>

  <section class="prose prose-lg max-w-[750px] prose-img:mx-auto">

    <!-- <script type="module">
      import GLightbox from '/node_modules/glightbox/src/js/glightbox.js';
      window.addEventListener('load', () => {
        const lightbox = GLightbox({selector: 'a[data-gallery="gallery1"]'});
      });
    </script> -->


    <!-- <div class="gallery">
      {photos.map((photo) => (
        <a class="glightbox3" data-gallery="gallery1" href={photo.url}>
          <img src={photo.thumbnailUrl} alt={photo.title} />
        </a>
      ))}
    </div> -->

    <script type="module">
      import GLightbox from "/node_modules/glightbox/src/js/glightbox.js";
      window.addEventListener("load", () => {
          const lightbox = GLightbox({ selector: 'a[data-gallery="gallery1"]' });
      });
  </script>
  
  <div class="gallery">
      {
          photos.map((photo) => (
              <a class="glightbox3" data-gallery="gallery1" href={photo.url}>
                  <img src={photo.thumbnailUrl} alt={photo.title} />
              </a>
          ))
      }
  </div>


  </section>

<!-- <section class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      <h2 class="text-lg">Treinamento Indoor</h2>

      <ul class="lg:grid lg:grid-cols-3 lg:grid-flow-row">
      <Galeria
      imagePath="/src/assets/01.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />

      <Galeria
      imagePath="/src/assets/02.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/03.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/04.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/05.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/06.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/07.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
    </ul>
  </section>
  <div class="divider my-0" />

  <section class="prose prose-lg max-w-[750px] prose-img:mx-auto">
    <h2 class="text-lg">Treinamento Outdoor</h2>

    <ul class="lg:grid lg:grid-cols-3 lg:grid-flow-row">
    <Galeria
    imagePath="/src/assets/08.webp"
    altText="Treinamento outdoor fotos."
    name="Treinamento outdoor"
    />

    <Galeria
    imagePath="/src/assets/09.webp"
    altText="Treinamento outdoor fotos."
    name="Treinamento outdoor"
    />
    <Galeria
    imagePath="/src/assets/10.webp"
    altText="Treinamento inoutdooroor fotos."
    name="Treinamento outdoor"
    />
    <Galeria
    imagePath="/src/assets/11.webp"
    altText="Treinamento outdoor fotos."
    name="Treinamento outdoor"
    />
    <Galeria
    imagePath="/src/assets/12.webp"
    altText="Treinamento outdoor fotos."
    name="Treinamento outdoor"
    />
    <Galeria
    imagePath="/src/assets/13.webp"
    altText="Treinamento outdoor fotos."
    name="Treinamento outdoor"
    />
    <Galeria
    imagePath="/src/assets/14.webp"
    altText="Treinamento outdoor fotos."
    name="Treinamento outdoor"
    />
    <Galeria
    imagePath="/src/assets/15.webp"
    altText="Treinamento outdoor fotos."
    name="Treinamento outdoor"
    />
  </ul>
</section>
<div class="divider my-0" />

<section class="prose prose-lg max-w-[750px] prose-img:mx-auto">
  <h2 class="text-lg">Artes Cênicas</h2>

  <ul class="lg:grid lg:grid-cols-3 lg:grid-flow-row">
    <Galeria
    imagePath="/src/assets/16.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/17.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/18.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/19.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/20.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/21.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/22.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/23.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/24.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/25.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/26.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/27.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/28.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/29.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/30.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/31.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
    <Galeria
    imagePath="/src/assets/32.webp"
    altText="Artes Cênicas."
    name="Artes Cênicas"
    />
</ul>
</section> -->
